<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item">Submitted by <%= campground.author.username %></li>
              <li class="list-group-item"><%= campground.price %>$/night</li>
            </ul>
            <% if(currentUser && currentUser._id.toString() === campground.author._id.toString()){ %>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit</a>         
        <!-- method-override with ?_method=DELETE, send to app.delete() -->
                <form class="d-inline" action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                2 Days ago
            </div>
        </div>

<!-- REVIEW SECTION -->
    </div>
    <div class="col-6">
        <!-- check if logged in, when logged in, a currentUser object is appended to session or req idk -->
        <% if(currentUser){ %> 
        <h2>Leave a Review</h2>
        <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" class="form-range" name="review[rating]" min="1" max="5" id="rating">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Review</label>
                <textarea  class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
        <% for (let rev of campground.reviews){ %>
            <div class="card mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= rev.author.username %></h6>
            <!-- stars.css -->
            <p class="starability-result" data-rating="<%= rev.rating %>"> 
              Rated: <%= rev.rating %> stars
            </p>
            <p class="card-text">Review: <%= rev.body %></p>
            <!-- check if logged in, check if userID === to reviewer id. -->
            <% if(currentUser && currentUser._id.toString() === rev.author._id.toString()){ %> 
            <form action="/campgrounds/<%= campground._id %>/reviews/<%= rev._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <% } %>
        </div>
    </div>
        <% } %>
    </div>
</div>

